header img {
    filter: brightness(50%);
}

.bg-custom-color {
    background-color: #D61C4E;
    color: white;
}

.bg-custom {
    background-color: #D61C4E;
}

.custom-color {
    color: #D61C4E;
}

.bg-custom-color:hover {
    background-color: none;
    color: black;
    border: 3px solid #D61C4E;
}

.for-font h1 {
    font-size: 25px;
}

.for-font p {
    font-size: 10px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .for-font h1 {
        font-size: 50px;
    }

    .for-font p {
        font-size: 15px;
    }
}

@media (min-width: 991.98px) {
    .for-font h1 {
        font-size: 85px;
    }

    .for-font p {
        font-size: 20px;
    }

}